/* 
@file: base.css
@author: @rishisant
@date: 2022-19-11
 */

/* imports */
/*import google font called Mandali*/
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');


/* background */
body {
    background-image: url(../img/atelier_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* atelier logo */
.atelier {
    font-family: 'Mandali', cursive;
    color: rgb(210, 34, 34);
    text-shadow: 2px 2px 1px #dcdcdc;
    /* padding-left: 30px; */
    /* margin-bottom: 30px; */
}

.atelierlogo {
    /* make the logo look nicer by adding a shadow, adding a border, and adding a border radius */
    filter: drop-shadow(2px 2px 1px #bababa);
    /* padding: 10px; */
    padding: 10px;
    width: 100px;
    margin-right: 20px;
}

/* nav links */
.navlinks {
    /* make all navigation links in a horizontal line on the top of the page next to the logo */
    display: flex;
    font-family: Mandali;
    /* float: right; */
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 10px; */
    padding: 10px;
    /* margin: 10px; */
    /* margin: 20px; */
    /* border: 1px solid #bababa; */
    /* border-radius: 5px; */
}

.navlink {
    /* make the nav buttons appealing, border, border radius, outline */
    border: 1px solid #bababa; 
    border-radius: 5px;
    outline: none;
    /* padding: 10px; */
    padding: 10px;
    min-width: 4em;
    /* cursor: pointer; */
    text-align: center;
    /* margin: 10px; */
    margin: 10px;
    /* background-color: #bababa; */
    background-color: #f7f7f7;
    /* color: #bababa; */
    font-weight: bold;
    margin-right: 20px;
}

.navlink:hover {
    /* call the same animation that the buttons call to vote */
    cursor: pointer;
    animation: shift_color 25s 1;
}

/* textsizes */
bigtext {
    font-size: 2.5em;
}

smalltext {
    font-size: 1.3em;
}

/* post containers */
.post_container {
    /* make it centered on the screen, grey background with slightly white outline */
    margin: 0 auto;
    width: 80%;
    background-color: #e9e9e9;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    outline: 0.5px solid #3d3d3d;
    
    /* font */
    font-family: 'Mandali', sans-serif;
    font-size: 1.2em;
}

/* post */
.post {
    /* make it centered on the screen, grey background with slightly white outline */
    /* make the border wrap around the image */
    margin: 0 auto;
    width: 80%;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    /* center the image */
    text-align: center;
    /* make the border closely wrapped around the image */
    overflow: hidden;

    
    /* font */
    font-family: 'Mandali', sans-serif;
    font-size: 1.2em;
}

.userimage {
    width: 40%;
}

/* user logos */
.userlogo {
    border-radius: 100px;
    width: 50px;
    margin-right: 10px;
}

/* user id/titles */
.idcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    font-size: .9em;
}

/* voting on names */
.nameVotes {
    /* center the names, and make sure they are all the same width as well as displayed in a row fashion*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* make the names have a slight border */
    /* border: 1px solid #e5e5e5;
    border-radius: 5px; */
    padding: 5px;
    margin: 5px;
    /* make the names have a slight shadow */
    box-shadow: 2px 2px 1px #dcdcdc;

}

.names {
    /* make the names have a slight border, a circular border, a slight shadow, and look very pleasing */
    background-color: #d7d7d7;
    /* bold the font*/
    font-weight: bold;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 1px #dcdcdc;
    font-size: .8em;
}

.names:hover {
    /* make the name's background color change when hovered over */
    animation: shift_color 25s 1;
    /* animation: cast_vote 2s 1; */
    cursor: pointer;
}

@keyframes shift_color {
    /* make an animation that slowly shifts the color to red */
    0% {
        background-color: #d7d7d7;
    }
    1% {
        background-color: hsl(0, 66%, 76%);
    }
}

@keyframes cast_vote {
    /* shift the color to red */
    0% {
        background-color: #d7d7d7;
        color: black;
    }
    100% {
        background-color: hsl(0, 59%, 40%);
        color: rgb(214, 214, 214);
    }
    
}

/* vote choice */
.vf {
    font-size: .66em;
}